* {
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


h1 {
    margin:auto; width:50%; text-align:center;
}

h2 {
    border-top: 1px solid #ccc; 
    font-style: italic; 
    color: #ccc;
}

button {
    background-color: rgb(132, 0, 255);
    padding: 5px 25px;
    color: white;
    border-radius: 8px; 
}

button:hover {
    background-color: #f300fc;
}

.hsc {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.highscore {
    text-decoration-line: none;
    color: #f300fc;
}

.highscore:hover {
    text-decoration-line: underline;
    color: rgb(132, 0, 255);
}

#welcome {
    text-align: center;
    width: 75%;
    margin: auto;
}

#quiz {
    margin: auto;
    width: 50%;
}

#quiz button {
    padding:15px 25px;
    color: white;
    margin:10px;
    background-color:rgb(132, 0, 255); 
    border-radius: 12px; 
    width: 100%; 
    text-align: left;
}

#quiz button:hover {
    background-color: #f300fc;
}

#score {
    margin: auto;
    width: 50%;
}

#score p {
    display: inline;
}

#highscore {
    margin: auto;
    width: 50%;
}

#names {
    background-color:rgb(210, 163, 253);
    margin: 15px 0;
    padding: 0;
}

#names li {
    margin: 0 25px;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(122, 24, 179)
}

#names li:first-child {
    border-top: 0;
}